/* services */
.service-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

/* Make it responsive */
@media only screen and (max-width: 688px) {
  .service-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (min-width: 689px) and (max-width: 991px) {
  .service-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.aws-btn {
  --button-default-height: 48px;
  --button-default-font-size: 14px;
  --button-default-border-radius: 6px;
  --button-horizontal-padding: 20px;
  --button-raise-level: 5px;
  --button-hover-pressure: 2;
  --transform-speed: 0.185s;
  --button-primary-color: #475472;
  --button-primary-color-dark: #2a3143;
  --button-primary-color-light: #d4d9e4;
  --button-primary-color-hover: #424e6a;
  --button-primary-border: none;
  --button-secondary-color: #f7f45f;
  --button-secondary-color-dark: #bdbdbd;
  --button-secondary-color-light: #6c6a00;
  --button-secondary-color-hover: #c2ff3d;
  --button-secondary-border: 6px solid #ffffff;
  --button-anchor-color: #f3c8ad;
  --button-anchor-color-dark: #734922;
  --button-anchor-color-light: #4c3016;
  --button-anchor-color-hover: #f1bfa0;
  --button-anchor-border: 1px solid #8c633c;
}
/* service */
.service {
  border-radius: 20px;
}
.service img {
  width: 100%;
}
.image {
  border: 2px solid #fff;
  width: 100%;
  height: 184px;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 300;
  transition: all 2s ease-in-out;
}

.image:hover img {
  transform: scale(2, 2);
  cursor: pointer;
}
